<main>
    <section class="content">
        <div class="title">
            <h2>Guess the flag</h2>
        </div>
        

        <div id="flagContainer">
            <img id="country-flag" src="">
        </div>
    </section>

    <section class="chat">
        <div class="title">
            <h2>Chat</h2>
        </div>
    
        <ul></ul>
            
        <form>
            <input type="text" autocomplete="off" placeholder="Make your guess...">
            <button>Send</button>
        </form>
    </section>
</main>