*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #282A37;
    --secondary-color: #3C404A;

    --text-color: #ffffff;
    --button-color: #1B90F4;

    --user-color: #9A6D38;
    --system-color: #CC3F0C;
}

body {
    color: var(--text-color);
    background-color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 1100px;
    margin: 5vh auto;  
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
}

main > section {
    height: inherit;
    box-shadow: 0.5em 0.5em 1em rgb(0, 0, 0, .5);
}

section {
    background-color: var(--secondary-color);
    border-radius: 1em;
}


/* CONTENT STYLING */
.content {
    width: 100%;
    display: grid;
    height: 100%;
}

img {
    width: 100%;
    padding: 2em;
}

/* CHAT STYLING */
.chat {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
    display: flex;
    margin-top: auto;
    padding: 1em;
}

.chat ul {
    overflow-y: scroll;
    height: clamp(25rem, 50vh, 25rem);
    margin-top: 1em;
    list-style: none;
    padding: 0 1em;
    border-bottom: 2px solid var(--main-color);
    z-index: 1;
}

.chat ul li {
    font-size: 1.2em;
    width: 75%;
    border-radius: 0.5em;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0, .5));
    position: relative; 
}

.user-message {
    background-color: var(--user-color);
    margin: 0 0 2em auto;
}

.message-username {
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    font-style: italic;
    background-color: inherit;
}

.user-message > .message-username {
    background-color: #6e4e29;
}

.message-text {
    padding: .75em .5em;
}

.user-message::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2em 1em 0 1em;
    border-color: var(--user-color) transparent transparent transparent;
    position: absolute;
    bottom: -1.5em;
    right: 1em;
    transform: rotate(-20deg);
    z-index: -1;
}
  
.game-message {
    background-color: var(--system-color);
    margin: 0 0 2em 0;  
}

.game-message > .message-username {
    background-color: #8f2d0a;
}

.game-message::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2em 1em 0 1em;
    border-color: var(--system-color) transparent transparent transparent;
    position: absolute;
    left: 1em;
    bottom: -1.5em;
    transform: rotate(20deg);
    z-index: -1;
}

input[type="text"] {
    margin: 0 1em 0 0;
    font-size: 1.2em;
    border-radius: .2em;
    border: none;
    width: 100%;
    padding: 0 0 0 0.5em;
}

button {
    padding: .75em 2em;
    border: 0;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: 1em;
    border-radius: .2em;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: #0466ba;
}

.title {
    height: 4em;
    border-radius: 1em 1em 0 0;
    background-color: #101C26;
    padding: 1em;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--secondary-color);
    opacity: .2;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 2em;
  }

  @media only screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }
  }